Source: libg2d-dpu
Section: libs
Priority: optional
Maintainer: Toradex Packaging Team <debian-pkg-team@toradex.com>
Build-Depends: ca-certificates,
               debhelper-compat (= 13),
               imx-gpu-viv-wayland-dev,
               wget
Standards-Version: 4.7.0
Homepage: http://nxp.com

Package: libg2d-dpu
Section: libs
Architecture: any
Multi-Arch: same
Provides: libg2d
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: libg2d-dpu (imx-dpu-g2d)
 GPU G2D library and apps for i.MX with 2D GPU and DPU.
 .
 Provides the implementation of the G2D graphics library by NXP.

Package: libg2d-dpu-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libg2d-dpu (= ${binary:Version}),
         libg2d-viv-dev,
         ${misc:Depends}
Description: libg2d-dpu (imx-dpu-g2d) - Development files
 GPU G2D library and apps for i.MX with 2D GPU and DPU.
 .
 This package contains symbolic links, header files, and related items
 necessary for software development.
